.select-tab{
    display: flex;
    justify-content: space-around;
    background: #0e78fa;
    border-radius: 15px;
    max-height: 36px;
    cursor: pointer;
}

.select-tab > div{
    padding: 5px;
    margin: 3px;
    color: #b5b5b5;
}

.select-tab > div:hover{
    color: #fff;
}

.selected-tab{
    border: 1px solid white;
    color: #fff !important;
    font-weight: bold;
    border-radius: 5px;
}