.div-report-listtaxpayer{
  max-width: 100vw;
}

.table-report-listtaxpayer{
  background: #fff;
  margin-top: 10px;
  padding: 5px;
  border-radius: 15px;
  width: 100%;
}

.table-report-listtaxpayer  td, th {
  border: solid rgb(200, 200, 200) 1px;
  padding: .5rem;
}

.table-report-listtaxpayer  th {
  text-align: left;
  background-color: rgb(190, 220, 250);
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: rgb(50, 50, 100) solid 2px;
  border-top: none;
}

.table-report-listtaxpayer  td {
  white-space: nowrap;
  border-bottom: none;
  color: rgb(20, 20, 20);
}

.table-report-listtaxpayer  td:first-of-type, th:first-of-type {
  border-left: none;
}

.table-report-listtaxpayer  td:last-of-type, th:last-of-type {
  border-right: none;
}