.edit-profile-img:hover{
    cursor: pointer;
}

.modal-profile-content{
    width: 85%;
    height: 85%;
    background: #fff;
}

.MuiTabs-flexContainer{
    justify-content: center;
}

.modal-profile-tab1 > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}