.container-receive-taxpayer {
    background: white;
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.btn-receive-search{
    max-width: 100px;
}

.content-receive-taxpayer{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-receive-taxpayer div:first-child{
    margin-right: 10px;
}