@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

body,
input {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    /* color: #666666; */
    background-color: #efefef !important;
    // padding: 10px;
    margin: 10px !important;
}

input {
  padding: 10px !important;
}
.content{
  flex: 1;
  padding-top: 65px;
  height: 100%;
}

.container {
  margin-top: 48px;
  height: 100%;
  overflow: auto;
  flex-grow: 1;
  z-index: 0;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.flex-row{
  display: flex;
  // width: 100%;
  flex-direction: row;
  // justify-content: center;
}

.flex-row-rev{
  display: flex;
  // width: 100%;
  flex-direction: row-reverse;
  // justify-content: center;
}

.flex-col{
  display: flex;
  // width: 100%;
  flex-direction: column;
  // justify-content: center;
}

.flex-row-w{
  @extend .flex-row;
  width: 100%;
}

.flex-row-rev-w{
  @extend .flex-row-rev;
  width: 100%;
}

.flex-col-h{
  @extend .flex-col;
  width: 100%;
}

.img-rad-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 2px #0e78fa;
  margin: 0 10px 0 10px;
}

.title-modal{
  text-align: center;
  color: #0e78fa;
  border-bottom: 1px solid #0e78fa;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.modal-form {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  height: calc(100vh - 90px); //10px margin no body 65px top no content 15px padding no form
  overflow: auto;
}

.modal-form-btn{
  flex-grow: 1;
  align-items: flex-end;
}

.btn {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  margin: 20px 5px 0 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.btn-ok {
  @extend .btn;
  background-color: #0e78fa !important;
}

.btn-ok:hover{
  background-color: #0653b3 !important;
}

.btn-edit{
  background-color: #0e78fa !important;
  color: #fff !important;
}

.btn-edit:hover{
  background-color: #0653b3 !important;
}

.btn-cancel{
  @extend .btn;
  background-color: #fd0000;
}

.btn-cancel:hover{
  background-color: #b80000;
}

form label{
  color: #0e78fa;
  font-size: 16px;
}

form input{
  border-radius: 5px;
  margin-left: 5px;
}

form select{
  border-radius: 5px;
  height: 40px;
}

form input:focus{
  border-color: #0e78fa;
}

form select:focus{
  border-color: #0e78fa;
}

.swal2-styled.swal2-confirm{
  background-color: #0e78fa !important;
}

.swal2-styled.swal2-cancel{
  background-color: #fd0000 !important;
}

.error-display{
  color: #fd0000;
}

.success-display{
  color: #0e78fa;
}

input:invalid {
  border: 2px solid #fd0000;
}

.card{
  padding: 10px;
  background: #fff;
  border-radius: 15px;
}

//em lista
.simple-list-1 > li{
  @extend .card;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
}

//em 2 colunas
.simple-list-2{
  display: grid;
  grid-template-columns: auto auto;
}

.simple-list-2 > li{
  @extend .card;
  list-style-type: none;
  margin: 5px;  
}

.image-profile-mini{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 5px;
}

.image-profile-mini > img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 2px #0e78fa;
}

.simple-info-1{
  align-self: center;
  flex: 14;
}

.search-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar > input{
  margin-right: 10px;
  border-radius: 50px;
  background-color: #fff !important;
  flex: 8;
}

.search-bar > input:focus{
  border-color: #064ea5;
}

.btn-new-medium{
  flex: 1;
  background: #0e78fa;
  padding: 5px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-new-medium:hover{
  background: #0d64ce;
}

.menu-mini >button {
  color: #fff !important;
}