.separator{
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #adb2b8;
}

.receive-header{
    @extend .separator;
    align-items: center;
    justify-content: center;
}

.receive-header > img{
    padding-right: 10px;
    width: 110px; 
}

.receive-header > div{
    text-align: center;
}

.receive-content{
    @extend .separator;
}

.receive-content > h3{
    text-align: center;
}

.receive-footer{
    text-align: center;
}

.receive-footer strong{
    text-decoration: underline;
}

.receive-footer-obs{
    text-align: right;
    font-size: 12px;
    margin-top: 10px;
}

#pdf-div{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

#pdf-div > a{
    text-decoration: none;
    color: #fff;
}

.receive-copy-ong{
    border-right: 1px dotted;
    padding-right: 7px;
    margin-right: 7px;
    flex: 1;
}

.receive-copy-ong div:first-child {
    text-align: center;
    border-bottom: 1px solid #adb2b8;
}

.receive-copy-client{
    flex: 2;
}