.separator{
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #adb2b8;
}

.receive-header{
    @extend .separator;
    align-items: center;
    justify-content: center;
}

.receive-header > img{
    padding-right: 10px;
}

.receive-header > div{
    text-align: center;
}

.receive-content{
    @extend .separator;
}

.receive-content > h3{
    text-align: center;
}

.receive-footer{
    text-align: center;
}

.receive-footer strong{
    text-decoration: underline;
}


#pdf-div{
    position: fixed;
    bottom: 7px;
    right: 7px;
    display: flex;
    align-items: center;
}

#pdf-div > a{
    text-decoration: none;
    color: #fff;
}